* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(222, 229, 229);
}

.navbar {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: white;
    gap: 100px;
    /* position: sticky; */
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 20px;
}

.form-section {
    display: flex;
    align-items: center;
}

input[type="search"] {
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 590px;

}

.left-section {
    display: flex;
    /* gap: 40px; */
    align-items: center;
}

#menu {
    float: right;
    padding: 30px;
    height: 20px;
    width: 20px;


}

#sign {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 10px;
    width: 90px;
    cursor: pointer;
}

#sign:hover {
    background-color: #3a2f2f;
    color: white;
    border-radius: 1px solid red;
}

#sign:active {
    background-color: aqua;
    color: white;

}

#location {
    width: 90px;
    padding: 10px;
    border: none;
    font-size: 19px;
}

#location:hover {
    color: red;
}

#menu img {
    width: 20px;

}

input:focus {
    background-color: rgb(223, 223, 151);
}

.right-section {
    display: flex;
    float: right;
    gap: 30px;
    align-items: center;
    padding: 10px;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 5fr 5fr 5fr;
    /* width:80%; */
    margin: 50px;
    min-height: 400px;
    gap: 20px;
}

ul {
    list-style: none;
}

.firstbox {
    grid-column-start: 1;
    grid-column-end: 2;
    /* grid-row-start: 1;
    grid-row-end: 5; */
    background-color: black;
    background-image: url("/images/1stImg.avif");
    background-size: cover;
    border: 2px solid black;
    margin-left: 60px;
    margin: 20px;
    height: 400px;
    cursor: pointer;
}

.second {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
    background-image: url("/images/2ndImg.avif");
    background-size: cover;
    border: 1px solid #000;
    margin: 20px;
    cursor: pointer;
}

.third {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url("/images/3rdImage.avif");
    background-size: cover;
    background-color: black;
    border: 1px solid #000;
    margin: 20px;
    cursor: pointer;
}

.fourth {
    grid-column-start: 4;
    grid-column-end: 5;
    background-image: url("/images/4thImg.avif");
    background-size: cover;
    background-color: black;
    border: 1px solid #000;
    margin: 20px;
    cursor: pointer;
}

.fifth {
    grid-column-start: 5;
    grid-column-end: 6;
    background-image: url("/images/5thImg.avif");
    background-size: cover;
    background-color: black;
    border: 1px solid #000;
    margin: 20px;
}

.movies {
    margin: 10px;
}

.recommended h2 {
    margin-left: 70px;
    padding-top: 90px;
    padding-bottom: 0px;
}

footer {
    min-height: 400px;
    width: 100vw;
    background-color: #3a2f2f;
    color: white;
}

.got-a-show {
    display: flex;
    gap: 60px;
    margin: 10px;
}

.got-a-show h2 {
    margin: 10px;
    justify-content: center;
    align-items: center;

}

.contact {
    background-color: red;
    color: white;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    border: 2px solid rgb(4, 0, 0);
    /* float:right; */
    /* top:10px; */
    margin: 10px;
    cursor: pointer;
}

.customer-care {
    display: flex;
    padding: 10px;
    gap: 400px;

    justify-content: center;
    background-color: grey;
    width: 100%;
}

.customer-care img {
    height: 90px;
    width: 80px;
    /* margin:40px; */
    padding: 5px;
}

.movies-in-pune {
    color: black;
    margin: 13px;
}

.movies-in-pune h3 {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movies-in-pune h5 {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-logo {
    display: flex;
    margin: 40px;
    align-items: center;


}

.footer-logo hr {
    width: 50%;

}

.footer-logo img {
    justify-content: center;
    cursor: pointer;
}

.icons-link {
    display: flex;
    justify-content: center;
    margin: 30px;


}

.icons-link img {
    min-height: 30px;
    width: 50px;
    color: white;
    cursor: pointer;

}

.slider {
    width: 100%;
}

iframe {
    width: 99%;
    margin-right: 10px;
    min-height: 400px;
    border: 5px solid #000;
}

#first{
    background-image: url("/images/music.avif");
}
#second{
    background-image: url("/images/kaal.avif");
}
#third{
    background-image: url("/images/TheGIrlfriend.avif");
}
#fourth{
    background-image: url("/images/lallo.avif");
}
#fifth{
    background-image: url("/images/kaantha.avif");
}
